* {
  margin: 0;
  padding: 0;
}

body,
#root,
.top-main {
  background-color: rgb(210, 210, 210);
  height: 100vh;
}

.wrapper {
  display: flex;
  width: 100%;
}

.overlay {
  z-index: -998;
}

.overlay-active {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
}

#sidebar {
  min-width: 500px;
  max-width: 500px;
  background: #fff;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all 0.5s;
}

.active {
  margin-left: -500px;
  opacity: 0;
}

.top,
.chart-div {
  background-color: #fff;
}

.top {
  height: 10%;
}

.chart-div {
  height: 80%;
}

.chart-body,
.chart-top,
.chart-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.chart-body {
  height: 80%;
}

.chart-top,
.chart-bottom {
  height: 10%;
  width: 100%;
}

.chart-top {
  position: relative;
}

.sidebar-btn {
  position: absolute;
  left: 0;
}

#content {
  height: 100%;
  width: 100%;
  align-items: center;
  z-index: 0;
  overflow: hidden;
}

.dismiss {
  position: relative;
}

.dismiss-button {
  position: absolute;
  top: 0;
  right: -10%;
  text-align: center;
}

.btn-circle {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.sidebar-link {
  width: 100%;
  background: rgb(210, 210, 210);
}

.sidebar-data {
  text-align: center;
  background: rgb(220, 220, 220);
}

#slider,
.slider {
  width: 100%;
}

.bottom-btn {
  width: 100%;
}

.mainchart {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
